<ion-content [fullscreen]="true">
  <div id="map"></div>


  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-row>
      <!--start button-->
      <ion-col>
        <ion-button id="start-button" shape="circle" class="ion-no-padding ion-no-margin" (click)="setStartPoint()">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button id="search-button" expand="block" shape="circle" class="ion-no-padding ion-no-margin custom-size" color="primary">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>

      <!--distance button-->
      <ion-col>
        <ion-button id="Distance-button" shape="circle" class="ion-no-padding ion-no-margin" (click)="setStartPoint()">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-button>
      </ion-col>
      
      <!-- Destination Button -->
      <ion-col>
        <ion-button id="destination-button" shape="circle" class="ion-no-padding ion-no-margin" (click)="setDestination()">
          <ion-icon slot="icon-only" name="flag"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-fab>
  
